h1, h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #1B5E20;
}
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333333;
}
.page-color{
    background-color: #F4F7F6;
}
.card-color{
    background-color: #FFFFFF;
}
.card-pai{
    display: flex; 
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
}
.card-filho{
    margin-top: 5%;
    border-radius: 25px;
    padding: 25px;   
}
.card-1{
    text-align: justify;    
}
.card-2{
    text-align: justify;
}
button{
    border-radius: 25px;
    background-color: #1B5E20;
    color: white;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.card-msg{
    margin-top: 5%;
    text-align: justify;
    background-color: #E8F5E9;
    border-radius: 4px;
}
